<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <!-- get title from serverjs    -->
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/services">Our Services</a>
        <a href="/contact">Contact Us</a>
    </nav>
    <h1>Our Services</h1>
    <p>We offer a wide range of services tailored to meet your needs:</p>
    <ul>
        <li>Web Development</li>
        <li>Mobile App Development</li>
        <li>UI/UX Design</li>
        <li>SEO Optimization</li>
        <li>Cloud Services</li>
    </ul>
</body>

</html>